.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fa
*.maf
*.gp
*.pdf
*.gff
*.gz
data/nano.save
*.err
*.out
*.wig
*.bed
*.gff3
*.tsv
*.ss
*.phy
*.mod

results/subTreeAlignmentDepth.genome

results/short_subTreeAlignmentDepth.wig

*.idx

results/subTreeAlignmentDepth.wig.tdf
