.R*
*.fa
*.maf
*.gp
*.pdf
*.gff
*.gz
data/nano.save
*.err
*.out
*.wig
*.bed
*.gff3
*.tsv
*.ss
*.phy
*.mod
*.vcf
*.snp
*.ind
*.geno
*.csv

*.tar.gz
Inversions/data/

results/subTreeAlignmentDepth.genome
AssemblyStats/BUSCO/run_*

results/short_subTreeAlignmentDepth.wig

*.idx

results/subTreeAlignmentDepth.wig.tdf
